{% extends 'base.html.twig' %}

{% block title %}New Traitement{% endblock %}

{% block body %}
    <div class="jumbutron">
        <h1>Ajouter un traitement</h1>
    </div>

    <div class="row">
        <div class="col-6 mx-auto">
            {{ include('traitement/_form.html.twig') }}
        </div>

    </div>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('traitement_index') }}">back to list</a>
    {% endif %}
{% endblock %}
